@charset "utf-8";
/* CSS Document */

/*Reset CSS*/
* {padding: 0;
    color: #000000;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    }
h1, h2, h3, h4, h5, h6
{
	font-size: 14px;
}
body
{
    line-height: 1;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 100%;
    padding: 5px 0;
    margin: 0 15px;
}

ul, ol
{
	list-style: none;
}

img
{
	border: 0;
}
a  
{  
    color: #000000;  
    text-decoration: none;  
}  
  
a:hover  
{  
	text-decoration: underline;  
}  
.floatLeft
{
	float: left;
}

.floatRight
{
	float: right;
}
/*Reset CSS*/
body{
		  background-attachment:fixed;
		  }
#wrapper{
	width:1024px;
          padding:10px;
          /*background:#F60;*/
		  background-color:#FFF;
          display:table;
		  margin:0 auto;
		  -webkit-box-shadow:0 0 10px #666;
            -moz-box-shadow:0 0 10px #666;
            box-shadow:0 0 10px #666;
			/*Bo vien*/ 
    border: 1px solid #f0f0f0; 
    border-bottom: 2px solid #ccc; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}
.header{
          background:#FFF;
          height:80px;
          padding:5px;
		  width:1024px;
}
.header .logo{
	width:200px;
	float:left;
	}
.header .right_logo{
	float:right;
	text-align:right;}
.menu{
          height:30px;
          width:1024px;
          padding:5px;
          margin-top:5px;
          background:#FFF;
}

.slideshow{
		  background:#FFF;
          height:200px;
          width:1024px;
          padding:5px;
	}
.main{
          width:1034px;
          background:#FFF;
          margin-top:5px;
          display:table;
       }
.main .menu_left{
          width:190px;
          float:left;
		  margin-right:6px;
 }
.main .menu_left .slidebar_left{
	width:180px;
	border: 1px solid #f0f0f0; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
	}
	
.main .menu_right{
          width:190px;
          float:right;
		  margin-left:6px;
}
.main .menu_right .slidebar_right{
         width:180px;
	border: 1px solid #f0f0f0; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
        padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
}

.main .content{
          width:640px;
          background:#FFF;
          float:left;
	border: 1px solid #f0f0f0; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}
.footer
{
   padding:5px;
   width:1024px;
   margin-top:5px;
   clear:both;
   border: 1px solid #f0f0f0; 
   -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;  
}
