@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

/*Reset CSS*/
* {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6
{
	font-size: 14px;
}
body
{
    line-height: 1;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 100%;
    padding: 5px 0;
    margin: 0 15px;
}

ul, ol
{
	list-style: none;
}

img
{
	border: 0;
}
a  
{  
    color: #000;  
    text-decoration: none;  
}  
  
a:hover  
{  
	text-decoration: underline;  
}  
.floatLeft
{
	float: left;
}

.floatRight
{
	float: right;
}
/*Reset CSS*/
body{
		  background-attachment:fixed;
		  }
#wrapper{
	width:1024px;
          padding:10px;
          /*background:#F60;*/
		  background-color:#FFF;
          display:table;
		  margin:0 auto;
		  -webkit-box-shadow:0 0 10px #666;
            -moz-box-shadow:0 0 10px #666;
            box-shadow:0 0 10px #666;
			/*Bo vien*/ 
    border: 1px solid #f0f0f0; 
    border-bottom: 2px solid #ccc; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}
.header{
          background:#FFF;
          height:80px;
          padding:5px;
		  width:1024px;
}
.header .logo{
	width:200px;
	float:left;
	}
.header .right_logo{
	float:right;
	text-align:right;}

.main{
          width:1034px;
          background:#FFF;
          margin-top:5px;
          display:table;
       }
.main .main_left{
          width:220px;
          float:left;
		  margin-right:6px;
 }
.main .main_left .slidebar_left{
	width:210px;
	border: 1px solid #f0f0f0; 

    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
	
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	}
.main .main_right{
          width:800px;
          float:right;
		  margin-left:6px;
}
.main .main_right .slidebar_right{
         width:750px;
	border: 1px solid #f0f0f0; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
}

.footer{
          height:120px;
          padding:5px;
          width:1024px;
          background:#FFF;
		  background-image:url(../images/sideback.png);
          margin-top:5px;
		  clear:both;
		  
}
