﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="chitietsanpham.aspx.cs" Inherits="chitietsanpham" %>



<%@ Register src="UserControl/chitietsanpham.ascx" tagname="chitietsanpham" tagprefix="uc1" %>



<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <uc1:chitietsanpham ID="chitietsanpham1" runat="server" />

</asp:Content>

