﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="Dangky.aspx.cs" Inherits="_Default" %><%@ Register src="UserControl/dangky.ascx" tagname="dangky" tagprefix="uc1" %>



<asp:Content ID="Content1" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">
    <uc1:dangky ID="dangky1" runat="server" />
</asp:Content>



