﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="danhmucsp.aspx.cs" Inherits="danhmucsp" %>
<%@ Register src="UserControl/danhmucsp.ascx" tagname="danhmucsp" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:danhmucsp ID="danhmucsp1" runat="server" />
&nbsp;
</asp:Content>

