﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>
<%@ Register src="UserControl/sanphammoi.ascx" tagname="sanphammoi" tagprefix="uc1" %>
<%@ Register src="UserControl/quangcao_giua.ascx" tagname="quangcao_giua" tagprefix="uc2" %>
<%@ Register src="UserControl/spnoibat.ascx" tagname="spnoibat" tagprefix="uc3" %>
<%@ Register src="UserControl/spmoi.ascx" tagname="spmoi" tagprefix="uc4" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc3:spnoibat ID="spnoibat1" runat="server" />
</asp:Content>

<asp:Content ID="Content2" runat="server" contentplaceholderid="ContentPlaceHolder2">
   
    <uc4:spmoi ID="spmoi1" runat="server" />
   
</asp:Content>


