﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="doimatkhau.aspx.cs" Inherits="doimatkhau" %>

<%@ Register src="UserControl/doimatkhau.ascx" tagname="doimatkhau" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:doimatkhau ID="doimatkhau1" runat="server" />
</asp:Content>

