﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="errorpage.aspx.cs" Inherits="errorpage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        Lỗi 404 ! Không tìm thấy trang yêu cầu. Xin liên hệ 
        vovannhien03031992@yahoo.com.vn</p>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

