﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="Giohang.aspx.cs" Inherits="UserControl_Giohang" %>

<%@ Register src="UserControl/giohang.ascx" tagname="giohang" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:giohang ID="giohang2" runat="server" />
</asp:Content>

