﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="Hotro.aspx.cs" Inherits="Hotro" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

