<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="Jewelry.aspx.cs" Inherits="Jewelry" %>

<%@ Register src="UserControl/mayanh.ascx" tagname="Jewelry" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Jewelry ID="Jewelry1" runat="server" />
</asp:Content>

