﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="Lienhe.aspx.cs" Inherits="Lienhe" %>

<%@ Register src="UserControl/lienhe.ascx" tagname="lienhe" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:lienhe ID="lienhe1" runat="server" />
</asp:Content>

