﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="Mayanh.aspx.cs" Inherits="Mayanh" %>

<%@ Register src="UserControl/mayanh.ascx" tagname="mayanh" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:mayanh ID="mayanh1" runat="server" />
</asp:Content>

