﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="Mayquayphim.aspx.cs" Inherits="Mayquayphim" %>

<%@ Register src="UserControl/Mayquayphim.ascx" tagname="Mayquayphim" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Mayquayphim ID="Mayquayphim1" runat="server" />
</asp:Content>

