﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="Quenmatkhau.aspx.cs" Inherits="Quenmatkhau" %>

<%@ Register src="UserControl/quenmatkhau.ascx" tagname="quenmatkhau" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:quenmatkhau ID="quenmatkhau1" runat="server" />
</asp:Content>

