﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="Thanhtoan.aspx.cs" Inherits="Thanhtoan" %>

<%@ Register src="UserControl/thanhtoan.ascx" tagname="thanhtoan" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:thanhtoan ID="thanhtoan1" runat="server" />
</asp:Content>

