﻿<%@ Page Title="" Language="C#" MasterPageFile="~/shopeg.master" AutoEventWireup="true" CodeFile="Xacnhandonhang.aspx.cs" Inherits="Xacnhandonhang" %>

<%@ Register src="UserControl/xacnhandonhang.ascx" tagname="xacnhandonhang" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:xacnhandonhang ID="xacnhandonhang1" runat="server" />
</asp:Content>

