﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="doimatkhau.ascx.cs" Inherits="Admin_User_control_Admin_doimatkhau" %>

<table cellpadding="10" cellspacing="10" style="width: 640px;">
    <tr>
        <td colspan="2" 
            
            style="font-weight: bold; color: #FF3300; font-family: Arial, Helvetica, sans-serif; text-align: center; font-size: 22px;" 
            >
            ĐỔI MẬT KHẨU</td>
    </tr>
    <tr>
        <td width="260px">
            Nhập mật khẩu hiện tại để tiếp tục:</td>
        <td>
            <asp:TextBox ID="txtmatkhauhientai" runat="server" Height="30px" Width="200px" 
                TextMode="Password"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td>
            Mật khẩu mới : </td>
        <td>
            <asp:TextBox ID="txtmatkhaumoi" runat="server" Height="30px" Width="200px" 
                TextMode="Password"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td>
            Nhập lại mật khẩu&nbsp; mới :</td>
        <td>
            <asp:TextBox ID="txtconfirmmatkhaumoi" runat="server" Height="30px" 
                Width="200px" TextMode="Password"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td>
            </td>
        <td>
            <asp:Button ID="btndoimatkhau" runat="server" Height="30px" Text="Đổi mật khẩu" 
                Width="150px" onclick="btndoimatkhau_Click" />
&nbsp;<asp:Button ID="btnnhaplai" runat="server" Height="30px" Text="Nhập lại" 
                Width="150px" />
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;</td>
        <td>
            <asp:Label ID="lbthongbao" runat="server"></asp:Label>
        </td>
    </tr>
</table>



