﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="Chitietdonhang.aspx.cs" Inherits="Admin_Chitietdonhang" %>

<%@ Register src="User_control_Admin/Chitietdonhang.ascx" tagname="Chitietdonhang" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Chitietdonhang ID="Chitietdonhang1" runat="server" />
</asp:Content>

