﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="Doimatkhau.aspx.cs" Inherits="Admin_Doimatkhau" %>

<%@ Register src="User_control_Admin/doimatkhau.ascx" tagname="doimatkhau" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:doimatkhau ID="doimatkhau1" runat="server" />
</asp:Content>

