﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="Hangsanxuat.aspx.cs" Inherits="Admin_Hangsanxuat" %>

<%@ Register src="User_control_Admin/Hangsanxuat.ascx" tagname="Hangsanxuat" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Hangsanxuat ID="Hangsanxuat1" runat="server" />
</asp:Content>

