﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="Hoadon.aspx.cs" Inherits="Admin_Hoadon" %>

<%@ Register src="User_control_Admin/Hoadon.ascx" tagname="Hoadon" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Hoadon ID="Hoadon1" runat="server" />
</asp:Content>

