﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="Khachhang.aspx.cs" Inherits="Admin_Khachhang" %>

<%@ Register src="User_control_Admin/Khachhang.ascx" tagname="Khachhang" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Khachhang ID="Khachhang1" runat="server" />
</asp:Content>

