﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="Quanlydanhmuc.aspx.cs" Inherits="Admin_Quanlydanhmuc" %>

<%@ Register src="User_control_Admin/Danhmucsanpham.ascx" tagname="Danhmucsanpham" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Danhmucsanpham ID="Danhmucsanpham1" runat="server" />
</asp:Content>

