﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="Sanpham.aspx.cs" Inherits="Admin_Sanpham" %>

<%@ Register src="User_control_Admin/Sanpham.ascx" tagname="Sanpham" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Sanpham ID="Sanpham1" runat="server" />
</asp:Content>

