﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="Themsanpham.aspx.cs" Inherits="Themsanpham" %>

<%@ Register src="User_control_Admin/Themsanpham.ascx" tagname="Themsanpham" tagprefix="uc1" %>

<%-- Add content controls here --%>
<asp:Content ID="Content1" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">
    <uc1:Themsanpham ID="Themsanpham1" runat="server" />
</asp:Content>

