﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="Tintuc.aspx.cs" Inherits="Admin_Tintuc" %>

<%@ Register src="User_control_Admin/Tintuc.ascx" tagname="Tintuc" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Tintuc ID="Tintuc1" runat="server" />
</asp:Content>

