﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="chitietsanpham.ascx.cs" Inherits="UserControl_chitietsanpham" %>



<%@ Register src="spmoi.ascx" tagname="spmoi" tagprefix="uc1" %>










<div class="ma-page">
        
         
        <div class="ma-main-container col2-left-layout">
                        
            <div class="container">
            <div class="contain-size">
                
                <div class="main">
                    <div class="main-inner">                        
                        <div class="row-fluid show-grid">
                            <div class="col-left sidebar span3"><div class="block block-related">
   
    
    <script type="text/javascript">
    //<![CDATA[
        $$('.related-checkbox').each(function (elem) {
            Event.observe(elem, 'click', addRelatedToProduct)
        });

        var relatedProductsCheckFlag = false;
        function selectAllRelated(txt) {
            if (relatedProductsCheckFlag == false) {
                $$('.related-checkbox').each(function (elem) {
                    elem.checked = true;
                });
                relatedProductsCheckFlag = true;
                txt.innerHTML = "снять выбор со всех";
            } else {
                $$('.related-checkbox').each(function (elem) {
                    elem.checked = false;
                });
                relatedProductsCheckFlag = false;
                txt.innerHTML = "выбрать все";
            }
            addRelatedToProduct();
        }

        function addRelatedToProduct() {
            var checkboxes = $$('.related-checkbox');
            var values = [];
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) values.push(checkboxes[i].value);
            }
            if ($('related-products-field')) {
                $('related-products-field').value = values.join(',');
            }
        }
    //]]>
    </script>
</div>

			<div class="ma-new-vertscroller-wrap block"> 
								
			</div>
</div>
                            <div class="col-main span9">
                                                                	    
<script type="text/javascript">
//<![CDATA[
    $jq('#bodyBackgroundColor,#mainColor, #linkColor').each(function () {
        var $jqel = $jq(this);
        /* set time */
        var date = new Date();
        date.setTime(date.getTime() + (1440 * 60 * 1000));

        $jqel.ColorPicker({
            color: '#0000ff',
            onChange: function (hsb, hex, rgb) {

                $jqel.find('div').css('backgroundColor', '#' + hex);
                switch ($jqel.attr("id")) {

                    case 'bodyBackgroundColor':
                        $jq("body").css('backgroundColor', '#' + hex);
                        // set cookie
                        $jq.cookie('body_background_cookie', hex, { expires: date });
                        break;
                    // main color 
                    case 'mainColor':
                        $jq('<style type="text/css">.ma-newproductslider-container .actions, .products-grid .actions, .ma-brand-slider-contain .flex-direction-nav a:hover, .ma-footer-static-container, .ma-nav-mobile-container, .ma-nav-container, .content-sample-block .block1 img, .productpage-sample-block .block2 img  { background-color:#' + hex + '}</style>').appendTo('head');

                        $jq('<style type="text/css">.product-view button.btn-cart:hover span { background-color:#' + hex + ' !important}</style>').appendTo('head');


                        $jq('<style type="text/css">a:hover, .products-grid .product-name a:hover, .product-name a:hover { color:#' + hex + '}</style>').appendTo('head');

                        // set cookie
                        $jq.cookie('main_color_cookie', hex, { expires: date });
                        break;

                    case 'linkColor':
                        //$jq("body a").css('color', '#' + hex);
                        $jq('<style type="text/css"> button.button span, .main button.btn-checkout:hover span, .header .form-search button.button:hover span, .ma-newproductslider-container .item-inner:hover .actions, .products-grid .item:hover .actions, .ma-brand-slider-contain .flex-direction-nav a, .ma-brand-slider-contain .flex-direction-nav .flex-next, .ma-new-vertscroller-wrap .jcarousel-next-vertical:hover, .ma-new-vertscroller-wrap .jcarousel-prev-vertical:hover, .add-to-cart input.qty-decrease:hover, .add-to-cart input.qty-increase:hover, .product-prev:hover, .product-next:hover, .ma-thumbnail-container .flex-direction-nav a:hover, .footer-freeshipping .shipping-icon, .wine_menu li.active a, .fish_menu li.active a, .wine_menu li.over a, .fish_menu li.over a, .wine_menu a:hover, .fish_menu a:hover, #back-top, .content-sample-block .block2 img, .productpage-sample-block .block1 img { background-color:#' + hex + '}</style>').appendTo('head');

                        $jq('<style type="text/css"> button.btn-cart:hover span, .product-view button.btn-cart span, .ui-slider .ui-slider-range { background-color:#' + hex + ' !important}</style>').appendTo('head');

                        $jq('<style type="text/css"> a, .breadcrumbs li strong, .pager .pages a:hover, .pager .pages .current, .header .welcome-msg a, .header .currency-language .language-switcher a:hover, .header .links li a:hover, .top-cart-contain .price, .block .block-title strong .word2, .block-right-static .block-title strong, .block-subscribe-right .block-title strong, .block-account .block-content li a:hover, .block-account .block-content li.current, .block-layered-nav li:hover, .block-layered-nav li a:hover, .ma-featured-product-title h2 .word2, .ma-newproductslider-title h2 .word2, .products-list .product-name a:hover, .product-view .product-shop .availability span, .price-box .price, .regular-price, .regular-price .price, .block .regular-price, .block .regular-price .price, .special-price .price-label, .special-price .price, .add-to-cart .qty, .product-collateral h2 .word2, .product-view .product-shop .product-sku span, .product-view .product-shop .product-brand span, .product-view .product-shop .add-to-links a:hover, .email-friend a:hover, .ma-footer-static .fcol1 li:hover, .ma-footer-static .fcol1 li a:hover, .mobilemenu li.active a, .mobilemenu a:hover, #ticker a { color:#' + hex + '}</style>').appendTo('head');

                        $jq('<style type="text/css"> .mobilemenu ul a:hover, .mobilemenu ul li.active a, .mobilemenu ul ul a:hover, .mobilemenu ul ul li.active a, .mobilemenu ul li.active ul a:hover, .mobilemenu ul ul ul a:hover, .mobilemenu ul ul ul li.active a, .mobilemenu ul ul li.active ul a:hover, .mobilemenu ul ul ul ul a:hover, .mobilemenu ul ul ul ul li.active a, .mobilemenu ul ul ul li.active ul a:hover, .wine_menu ul li a:hover, .wine_menu ul ul li a:hover, .fish_menu ul li a:hover { color:#' + hex + ' !important}</style>').appendTo('head');
                        $jq('<style type="text/css">.ma-newproductslider-container .item-inner:hover, .ma-newproductslider-container .item-inner:hover, .product-tabs a:hover, .product-tabs li.active a, .product-tabs li.active a:hover, .wine_menu .container, .fish_menu ul, .fish_menu div, .fish_menu ul ul, .fish_menu ul div { border-color:#' + hex + '}</style>').appendTo('head');

                        // set cookie
                        $jq.cookie('link_color_cookie', hex, { expires: date });
                        break;

                }
            }
        });
    });
    /* set time */
    var date = new Date();
    date.setTime(date.getTime() + (1440 * 60 * 1000));


    $jq(document).ready(function () {

        //load selected font
        $jq("#select-fontselector option").filter(function () {
            //may want to use $.trim in here
            return $jq(this).text() == $jq.cookie('font_cookie');
        }).attr('selected', true);
        //change font
        $jq(function () {
            fontSelect = $jq("#select-fontselector");
            fontUpdate = function () {
                curFont = $jq("#select-fontselector").val();
                $jq(".page-title h1, .page-title h2, .block .block-title strong, .block-right-static .block-title h3, .block-subscribe-right .block-title h3, .ma-mostviewed-product-title h2, .ma-upsellslider-container .product-name, .ma-newproductslider-container .product-name, .products-grid .product-name, .ma-featured-product-title h2, .ma-newproductslider-title h2, .products-list .product-name, .product-collateral h2, .product-view .product-shop .product-name h1, .product-view .box-up-sell h2, .footer-freeshipping h3, .footer-subscribe .form-subscribe-header h4, .ma-footer-static .footer-static-title h3, .product-tabs a, .wine_menu a, .fish_menu a, .wine_menu ul li a ").css({ fontFamily: curFont });
                $jq("<link />", { href: "http://fonts.googleapis.com/css?family=" + curFont, rel: "stylesheet", type: "text/css" }).appendTo("head");
            }
            fontSelect.change(function () {
                fontUpdate();
            }).keyup(function () {
                fontUpdate();
            }).keydown(function () {
                fontUpdate();
            });

            $jq("#select-fontselector").trigger("change");
        })

        $jq('#select-fontselector').change(function () {
            $jq.cookie('font_cookie', $jq(this).val(), { expires: date });
        });
        $jq(".page-title h1, .page-title h2, .block .block-title strong, .block-right-static .block-title h3, .block-subscribe-right .block-title h3, .ma-mostviewed-product-title h2, .ma-upsellslider-container .product-name, .ma-newproductslider-container .product-name, .products-grid .product-name, .ma-featured-product-title h2, .ma-newproductslider-title h2, .products-list .product-name, .product-collateral h2, .product-view .product-shop .product-name h1, .product-view .box-up-sell h2, .footer-freeshipping h3, .footer-subscribe .form-subscribe-header h4, .ma-footer-static .footer-static-title h3, .product-tabs a, .wine_menu a, .fish_menu a, .wine_menu ul li a").css({ fontFamily: $jq.cookie('font_cookie') });
        $jq("<link />", { href: "http://fonts.googleapis.com/css?family=" + $jq.cookie('font_cookie'), rel: "stylesheet", type: "text/css" }).appendTo("head");

        //set cookie
        $jq("body").css('backgroundColor', '#ffffff');
        $jq("body").css('background-image', $jq.cookie('body_image_cookie'));
        $jq("body").css('background-repeat', 'repeat');

        // main color

        $jq('<style type="text/css">.ma-newproductslider-container .actions, .products-grid .actions, .ma-brand-slider-contain .flex-direction-nav a:hover, .ma-footer-static-container, .ma-nav-mobile-container, .ma-nav-container, .content-sample-block .block1 img, .productpage-sample-block .block2 img  { background-color:#' + $jq.cookie('main_color_cookie') + '}</style>').appendTo('head');

        $jq('<style type="text/css">.product-view button.btn-cart:hover span { background-color:#' + $jq.cookie('main_color_cookie') + ' !important}</style>').appendTo('head');


        $jq('<style type="text/css">a:hover, .products-grid .product-name a:hover, .product-name a:hover { color:#' + $jq.cookie('main_color_cookie') + '}</style>').appendTo('head');


        //link color
        $jq('<style type="text/css">button.button span, .main button.btn-checkout:hover span, .header .form-search button.button:hover span, .ma-newproductslider-container .item-inner:hover .actions, .products-grid .item:hover .actions, .ma-brand-slider-contain .flex-direction-nav a, .ma-brand-slider-contain .flex-direction-nav .flex-next, .ma-new-vertscroller-wrap .jcarousel-next-vertical:hover, .ma-new-vertscroller-wrap .jcarousel-prev-vertical:hover, .add-to-cart input.qty-decrease:hover, .add-to-cart input.qty-increase:hover, .product-prev:hover, .product-next:hover, .ma-thumbnail-container .flex-direction-nav a:hover, .footer-freeshipping .shipping-icon, .wine_menu li.active a, .fish_menu li.active a, .wine_menu li.over a, .fish_menu li.over a, .wine_menu a:hover, .fish_menu a:hover, #back-top, .content-sample-block .block2 img, .productpage-sample-block .block1 img  { background-color:#' + $jq.cookie('link_color_cookie') + '}</style>').appendTo('head');
        $jq('<style type="text/css"> button.btn-cart:hover span, .product-view button.btn-cart span, .ui-slider .ui-slider-range { background-color:#' + $jq.cookie('link_color_cookie') + ' !important}</style>').appendTo('head');

        $jq('<style type="text/css">a, .breadcrumbs li strong, .pager .pages a:hover, .pager .pages .current, .header .welcome-msg a, .header .currency-language .language-switcher a:hover, .header .links li a:hover, .top-cart-contain .price, .block .block-title strong .word2, .block-right-static .block-title strong, .block-subscribe-right .block-title strong, .block-account .block-content li a:hover, .block-account .block-content li.current, .block-layered-nav li:hover, .block-layered-nav li a:hover, .ma-featured-product-title h2 .word2, .ma-newproductslider-title h2 .word2, .products-list .product-name a:hover, .product-view .product-shop .availability span, .price-box .price, .regular-price, .regular-price .price, .block .regular-price, .block .regular-price .price, .special-price .price-label, .special-price .price, .add-to-cart .qty, .product-collateral h2 .word2, .product-view .product-shop .product-sku span, .product-view .product-shop .product-brand span, .product-view .product-shop .add-to-links a:hover, .email-friend a:hover, .ma-footer-static .fcol1 li:hover, .ma-footer-static .fcol1 li a:hover, .mobilemenu li.active a, .mobilemenu a:hover, #ticker a  { color:#' + $jq.cookie('link_color_cookie') + '}</style>').appendTo('head');
        $jq('<style type="text/css">.mobilemenu ul a:hover, .mobilemenu ul li.active a, .mobilemenu ul ul a:hover, .mobilemenu ul ul li.active a, .mobilemenu ul li.active ul a:hover, .mobilemenu ul ul ul a:hover, .mobilemenu ul ul ul li.active a, .mobilemenu ul ul li.active ul a:hover, .mobilemenu ul ul ul ul a:hover, .mobilemenu ul ul ul ul li.active a, .mobilemenu ul ul ul li.active ul a:hover, .wine_menu ul li a:hover, .wine_menu ul ul li a:hover, .fish_menu ul li a:hover { color:#' + $jq.cookie('link_color_cookie') + ' !important}</style>').appendTo('head');

        $jq('<style type="text/css"> .ma-newproductslider-container .item-inner:hover, .ma-newproductslider-container .item-inner:hover, .product-tabs a:hover, .product-tabs li.active a, .product-tabs li.active a:hover, .wine_menu .container, .fish_menu ul, .fish_menu div, .fish_menu ul ul, .fish_menu ul div { border-color:#' + $jq.cookie('link_color_cookie') + '}</style>').appendTo('head');

        //set background image
        $jq('.cl-pattern div').click(function () {
            $jq("body").css('background-image', 'url(skin/frontend/default/ma_metrofas/magentothem/colortool/images/pattern/' + this.id + '.png)');
            $jq("body").css('background-repeat', 'repeat');
            $jq.cookie('body_image_cookie', 'url(skin/frontend/default/ma_metrofas/magentothem/colortool/images/pattern/' + this.id + '.png)', { expires: date });
        });

        //set cookie for theme color
        var cl = $jq(".cl-row-themeskin");
        cl.find("a").each(function () {
            $jq(this).click(function () {
                $jq.cookie('style_color', $jq(this).attr('title'), { expires: date });
                location.reload();
            });
        });
    });


    //reset button
    $jq('.cl-reset').click(function () {

        $jq.cookie('font_cookie', '');
        $jq.cookie('main_color_cookie', '');
        $jq.cookie('link_color_cookie', '');

        $jq.cookie('body_image_cookie', '');
        $jq("body").css('background-image', 'url(skin/frontend/default/ma_metrofas/magentothem/colortool/images/pattern/)');

        $jq.cookie('body_background_cookie', '');
        $jq("body").css('backgroundColor', '#');
        location.reload();
    });
//]]>
</script>
<script type="text/javascript">
             var optionsPrice = new Product.OptionsPrice([]);
</script>
<div id="messages_product_view"><ul class="messages"><li class="success-msg"><ul><li><span></span></li></ul></li></ul></div>


  <asp:DataList ID="DataList1" runat="server" DataKeyField="ma_sp" 
                DataSourceID="sqlchitietsanpham" RepeatColumns="1">
                <ItemTemplate>
<div class="product-view">
    <div class="product-essential row-fluid">
    <form action="checkout/cart/add/uenc/aHR0cDovL3d3dy5wbGF6YXRoZW1lcy5jb20vZGVtby9tYV9tZXRyb2Zhcy9xdWlzcXVlLWluLWFyY3UtMTYuaHRtbA,,/product/6/" method="post" id="product_addtocart_form">
        
        <div class="product-img-box span6">
            <p class="product-image">
    	<!-- images for lightbox -->
	<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" class = "ma-a-lighbox" rel="lightbox[rotation]"></a>
	<!--++++++++++++-->
	<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" class = "cloud-zoom" id="ma-zoom1" style="position: relative; display: block;" rel="adjustX:10, adjustY:-2, zoomWidth:440, zoomHeight:440">
		<img src="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" alt=" Donec ac tempus " title=" Donec ac tempus " />	</a>
</p>
						<div class="more-views ma-thumbnail-container">
				<h2>Больше изображений</h2>
				<div class="flexslider carousel">
					<ul class="slides">
											<li class="thumbnail-item">
							<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" class="cloud-zoom-gallery" title="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>"
												rel="useZoom: 'ma-zoom1', smallImage: '<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>'">
							<img src="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" alt="" /></a>
						</li>
											<li class="thumbnail-item">
							<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" class="cloud-zoom-gallery" title="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>"
												rel="useZoom: 'ma-zoom1', smallImage: '<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>'">
							<img src="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" alt="" /></a>
						</li>
											<li class="thumbnail-item">
							<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" class="cloud-zoom-gallery" title="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>"
												rel="useZoom: 'ma-zoom1', smallImage: '<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>'">
							<img src="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" alt="" /></a>
						</li>
											<li class="thumbnail-item">
							<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>"
												rel="useZoom: 'ma-zoom1', smallImage: '<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>'">
							<img src="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" alt="" /></a>
						</li>
											<li class="thumbnail-item">
							<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" class="cloud-zoom-gallery" title="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>"
												rel="useZoom: 'ma-zoom1', smallImage: '<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>'">
							<img src="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" alt="" /></a>
						</li>
										</ul>
				</div>
									<ul class="mt-thumb-light" style="display:none;">
													<li>
								<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" rel="lightbox[rotation]" title=" Donec ac tempus "></a>
							</li>
													<li>
								<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" rel="lightbox[rotation]" title=" Donec ac tempus "></a>
							</li>
													<li>
								<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" rel="lightbox[rotation]" title=" Donec ac tempus "></a>
							</li>
													<li>
								<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" rel="lightbox[rotation]" title=" Donec ac tempus "></a>
							</li>
													<li>
								<a href="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" rel="lightbox[rotation]" title=" Donec ac tempus "></a>
							</li>
						                                                                
					</ul>
								<script type="text/javascript">
					//<![CDATA[
								    $jq('.ma-thumbnail-container .flexslider').flexslider({
								        slideshow: false,
								        itemWidth: 82,
								        itemMargin: 5,
								        minItems: 2,
								        maxItems: 4,
								        controlNav: false,
								        slideshowSpeed: 3000,
								        animationSpeed: 500,
								        animation: "slide"
								    });		
					//]]>
				</script>
			</div>
			
        </div>
        
        <div class="product-shop span6">
            <div class="product-name">
                <h1><%# Eval("ten_sp") %></h1>
            </div>
            <div class="product-shop-info row-fluid">
                <div class="span6">
                        <p class="no-rating"><a href="#"><%# Eval("ten_sp") %></a></p>
                                        
    <p class="availability in-stock">Ngày cập nhật: <span><%# Eval("ngaycapnhat", "{0:dd/MM/yyyy}") %></span></p>


                
    <div class="price-box">
                                
                    <p class="old-price">
                <span class="price-label">Giá:</span>
                <span class="price" id="old-price-6">
                   <%# Eval("dongia", "{0:0,00#}") %>             </span>
            </p>

                        <p class="special-price">
                <span class="price-label">Giá ưu đãi:</span>
                <span class="price" id="product-price-6">
                   <%# Eval("dongia", "{0:0,00#}") %>               </span>
            </p>
                    
    
        </div>

                    
                                        <div class="product-sku">
                        Mã sản phẩm:                        <span><%# Eval("ma_sp") %></span>
                    </div>
                                            <div class="product-brand">
                            Đã mua:                             <span><%# Eval("soluongban") %></span>
                        </div>
                                    </div>
                <div class="span6">
                    <div class="add-to-box-link">
                        

<ul class="add-to-links">
    <li><a href="<%# "chitietyeuthich.aspx?Masp="+Eval("ma_sp") %>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist" rel="tooltip" title="Yêu thích">Yêu thích</a></li>
    <li><span class="separator">|</span> <a href="<%# "sosanh.aspx?Masp="+Eval("ma_sp") %>" class="link-compare" rel="tooltip" title="So sánh">So sánh</a></li>
</ul>
                                                    <p class="email-friend"><a href="http://alohomes.com/<%# "Chitietsanpham.aspx?Masp="+Eval("ma_sp") %>" rel="tooltip" title="Chia sẻ">Chia sẻ</a></p>
                                            </div>
                    <div class="product-social">
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                        </div>
                        <script type="text/javascript" src="js/addthis_widget.js#pubid=xa-5106b3a347d7ab32"></script>
                        <!-- AddThis Button END -->
                    </div>
                </div>
            </div>
                            <div class="short-description">
                    <!--<h2>Краткая информация</h2>-->
                    <div class="std">Sản phẩm được giao tận nơi.</div>
                </div>
                        
                            <div class="add-to-box">
                                                <div class="add-to-cart">
                
        <div class="product-qty">
            
            <input type="button" onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) qty_el.value--;return false;" class="qty-decrease" />
            
                        <input type="button" onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty )) qty_el.value++;return false;" class="qty-increase" />
            
        </div>
        <a href="<%# "giohang.aspx?Masp="+Eval("ma_sp") %>"><button type="button" title="Thêm vào giỏ" class="button btn-cart" onclick="<%# "giohang.aspx?Masp="+Eval("ma_sp") %>"><span><span>Thêm vào giỏ</span></span></button></a>
            </div>
                                                        </div>
                            
            
                        
                        
            <!--      static block      -->
            <div class="productpage-sample-block">
<div class="row-fluid">
<div class="block1 span6"><img src="media/wysiwyg/static-block.png" alt="" /></div>
<div class="block2 span6"><img src="media/wysiwyg/static-block.png" alt="" /></div>
</div>
</div>
        </div>

        <div class="clearer"></div>
        <div class="no-display">
            <input type="hidden" name="product" value="6" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function (button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                    form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        } .bind(productAddToCartForm);

        productAddToCartForm.submitLight = function (button, url) {
            if (this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        } .bind(productAddToCartForm);
    //]]>
    </script>
    </div>

    <div class="product-collateral row-fluid">
        <ul class="product-tabs">
                        <li id="product_tabs_description" class=" active first"><a href="#">Chi tiết</a></li>
                                            <li id="product_tabs_product_additional_data" class=""><a href="#">Bình luận</a></li>
                                <li id="product_tabs_product.tags" class=" last"><a href="#">Thông tin khác</a></li>
            </ul>
            <div class="product-tabs-content" id="product_tabs_description_contents">   
    <div class="std">
      <%# Eval("chitietsp") %></div></div>
                    <div class="product-tabs-content" id="product_tabs_product_additional_data_contents">
<div class="box-collateral box-reviews" id="customer-reviews">
    <div class="ma-review-col1 span5">
                    <h2>Nhận xét về sản phẩm</h2>
                        <dl>
                        </dl>
                        </div>
    <div class="ma-review-col2 span6">
                <div class="form-add">
    <h2>Vui lòng nhập đầy đủ thông tin bên dưới</h2>
        <form action="review/product/post/id/6/" method="post" id="review-form">
        <fieldset>
            <ul class="form-list">
                <li>
                    <label for="nickname_field" class="required"><em>*</em>Họ tên </label>
                    <div class="input-box">
                        <input type="text" name="nickname" id="nickname_field" class="input-text required-entry" value="" />
                    </div>
                </li>
                <li>
                    <label for="summary_field" class="required"><em>*</em>Email </label>
                    <div class="input-box">
                        <input type="text" name="title" id="summary_field" class="input-text required-entry" value="" />
                    </div>
                </li>
                <li>
                    <label for="review_field" class="required"><em>*</em>Lời nhận xét: </label>
                    <div class="input-box">
                        <textarea name="detail" id="review_field" cols="5" rows="3" class="required-entry"></textarea>
                    </div>
                </li>
            </ul>
                        
                        </fieldset>
            <div class="buttons-set">
                <button type="submit" title="Добавить отзыв" class="button"><span><span>Gửi</span></span></button>
            </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('review-form');
        Validation.addAllThese(
        [
               ['validate-rating', 'Пожалуйста, выберите значение для каждой оценки', function (v) {
                   var trs = $('product-review-table').select('tr');
                   var inputs;
                   var error = 1;

                   for (var j = 0; j < trs.length; j++) {
                       var tr = trs[j];
                       if (j > 0) {
                           inputs = tr.select('input');

                           for (i in inputs) {
                               if (inputs[i].checked == true) {
                                   error = 0;
                               }
                           }

                           if (error == 1) {
                               return false;
                           } else {
                               error = 1;
                           }
                       }
                   }
                   return true;
               } ]
        ]
        );
    //]]>
    </script>
    </div>
    </div>
</div>
</div>
                <div class="product-tabs-content" id="product_tabs_product.tags_contents"><div class="box-collateral box-tags">
            
   <!-- thong tin khac -->
    <script type="text/javascript">
    //<![CDATA[
        var addTagFormJs = new VarienForm('addTagForm');
        function submitTagForm() {
            if (addTagFormJs.validator.validate()) {
                addTagFormJs.form.submit();
            }
        }
    //]]>
    </script>
</div>
</div>
    <script type="text/javascript">
//<![CDATA[
        Varien.Tabs = Class.create();
        Varien.Tabs.prototype = {
            initialize: function (selector) {
                var self = this;
                $$(selector + ' a').each(this.initTab.bind(this));
            },

            initTab: function (el) {
                el.href = 'javascript:void(0)';
                if ($(el.parentNode).hasClassName('active')) {
                    this.showContent(el);
                }
                el.observe('click', this.showContent.bind(this, el));
            },

            showContent: function (a) {
                var li = $(a.parentNode), ul = $(li.parentNode);
                ul.select('li').each(function (el) {
                    var contents = $(el.id + '_contents');
                    if (el == li) {
                        el.addClassName('active');
                        contents.show();
                    } else {
                        el.removeClassName('active');
                        contents.hide();
                    }
                });
            }
        }
        new Varien.Tabs('.product-tabs');
//]]>
</script>
        <br /><br />
        
					
		        <uc1:spmoi ID="spmoi1" runat="server" />

   
            </div>
</div>
</ItemTemplate>
</asp:DataList>
  <asp:SqlDataSource ID="sqlchitietsanpham" runat="server" 
                ConnectionString="<%$ ConnectionStrings:vnaovn_shopConnectionString %>" 
                
                
                SelectCommand="SELECT * FROM [sanpham] WHERE ([ma_sp] = @ma_sp)" 
                ConflictDetection="CompareAllValues" 
                DeleteCommand="DELETE FROM [sanpham] WHERE [ma_sp] = @original_ma_sp AND [ma_hangsx] = @original_ma_hangsx AND [ma_dm] = @original_ma_dm AND [ten_sp] = @original_ten_sp AND (([chitietsp] = @original_chitietsp) OR ([chitietsp] IS NULL AND @original_chitietsp IS NULL)) AND [hinhminhhoa] = @original_hinhminhhoa AND (([dongia] = @original_dongia) OR ([dongia] IS NULL AND @original_dongia IS NULL)) AND (([baohanh] = @original_baohanh) OR ([baohanh] IS NULL AND @original_baohanh IS NULL)) AND (([soluongban] = @original_soluongban) OR ([soluongban] IS NULL AND @original_soluongban IS NULL)) AND (([ngaycapnhat] = @original_ngaycapnhat) OR ([ngaycapnhat] IS NULL AND @original_ngaycapnhat IS NULL)) AND (([solanxem] = @original_solanxem) OR ([solanxem] IS NULL AND @original_solanxem IS NULL)) AND (([dang] = @original_dang) OR ([dang] IS NULL AND @original_dang IS NULL))" 
                InsertCommand="INSERT INTO [sanpham] ([ma_hangsx], [ma_dm], [ten_sp], [chitietsp], [hinhminhhoa], [dongia], [baohanh], [soluongban], [ngaycapnhat], [solanxem], [dang]) VALUES (@ma_hangsx, @ma_dm, @ten_sp, @chitietsp, @hinhminhhoa, @dongia, @baohanh, @soluongban, @ngaycapnhat, @solanxem, @dang)" 
                OldValuesParameterFormatString="original_{0}" 
                
                
                UpdateCommand="UPDATE [sanpham] SET [ma_hangsx] = @ma_hangsx, [ma_dm] = @ma_dm, [ten_sp] = @ten_sp, [chitietsp] = @chitietsp, [hinhminhhoa] = @hinhminhhoa, [dongia] = @dongia, [baohanh] = @baohanh, [soluongban] = @soluongban, [ngaycapnhat] = @ngaycapnhat, [solanxem] = @solanxem, [dang] = @dang WHERE [ma_sp] = @original_ma_sp AND [ma_hangsx] = @original_ma_hangsx AND [ma_dm] = @original_ma_dm AND [ten_sp] = @original_ten_sp AND (([chitietsp] = @original_chitietsp) OR ([chitietsp] IS NULL AND @original_chitietsp IS NULL)) AND [hinhminhhoa] = @original_hinhminhhoa AND (([dongia] = @original_dongia) OR ([dongia] IS NULL AND @original_dongia IS NULL)) AND (([baohanh] = @original_baohanh) OR ([baohanh] IS NULL AND @original_baohanh IS NULL)) AND (([soluongban] = @original_soluongban) OR ([soluongban] IS NULL AND @original_soluongban IS NULL)) AND (([ngaycapnhat] = @original_ngaycapnhat) OR ([ngaycapnhat] IS NULL AND @original_ngaycapnhat IS NULL)) AND (([solanxem] = @original_solanxem) OR ([solanxem] IS NULL AND @original_solanxem IS NULL)) AND (([dang] = @original_dang) OR ([dang] IS NULL AND @original_dang IS NULL))">
                <DeleteParameters>
                    <asp:Parameter Name="original_ma_sp" Type="Int32" />
                    <asp:Parameter Name="original_ma_hangsx" Type="Int32" />
                    <asp:Parameter Name="original_ma_dm" Type="Int32" />
                    <asp:Parameter Name="original_ten_sp" Type="String" />
                    <asp:Parameter Name="original_chitietsp" Type="String" />
                    <asp:Parameter Name="original_hinhminhhoa" Type="String" />
                    <asp:Parameter Name="original_dongia" Type="Double" />
                    <asp:Parameter Name="original_baohanh" Type="String" />
                    <asp:Parameter Name="original_soluongban" Type="Int32" />
                    <asp:Parameter Name="original_ngaycapnhat" Type="DateTime" />
                    <asp:Parameter Name="original_solanxem" Type="Int32" />
                    <asp:Parameter Name="original_dang" Type="Boolean" />
                </DeleteParameters>
                <InsertParameters>
                    <asp:Parameter Name="ma_hangsx" Type="Int32" />
                    <asp:Parameter Name="ma_dm" Type="Int32" />
                    <asp:Parameter Name="ten_sp" Type="String" />
                    <asp:Parameter Name="chitietsp" Type="String" />
                    <asp:Parameter Name="hinhminhhoa" Type="String" />
                    <asp:Parameter Name="dongia" Type="Double" />
                    <asp:Parameter Name="baohanh" Type="String" />
                    <asp:Parameter Name="soluongban" Type="Int32" />
                    <asp:Parameter Name="ngaycapnhat" Type="DateTime" />
                    <asp:Parameter Name="solanxem" Type="Int32" />
                    <asp:Parameter Name="dang" Type="Boolean" />
                </InsertParameters>
                <SelectParameters>
                    <asp:QueryStringParameter Name="ma_sp" QueryStringField="Masp" Type="Int32" />
                </SelectParameters>
                <UpdateParameters>
                    <asp:Parameter Name="ma_hangsx" Type="Int32" />
                    <asp:Parameter Name="ma_dm" Type="Int32" />
                    <asp:Parameter Name="ten_sp" Type="String" />
                    <asp:Parameter Name="chitietsp" Type="String" />
                    <asp:Parameter Name="hinhminhhoa" Type="String" />
                    <asp:Parameter Name="dongia" Type="Double" />
                    <asp:Parameter Name="baohanh" Type="String" />
                    <asp:Parameter Name="soluongban" Type="Int32" />
                    <asp:Parameter Name="ngaycapnhat" Type="DateTime" />
                    <asp:Parameter Name="solanxem" Type="Int32" />
                    <asp:Parameter Name="dang" Type="Boolean" />
                    <asp:Parameter Name="original_ma_sp" Type="Int32" />
                    <asp:Parameter Name="original_ma_hangsx" Type="Int32" />
                    <asp:Parameter Name="original_ma_dm" Type="Int32" />
                    <asp:Parameter Name="original_ten_sp" Type="String" />
                    <asp:Parameter Name="original_chitietsp" Type="String" />
                    <asp:Parameter Name="original_hinhminhhoa" Type="String" />
                    <asp:Parameter Name="original_dongia" Type="Double" />
                    <asp:Parameter Name="original_baohanh" Type="String" />
                    <asp:Parameter Name="original_soluongban" Type="Int32" />
                    <asp:Parameter Name="original_ngaycapnhat" Type="DateTime" />
                    <asp:Parameter Name="original_solanxem" Type="Int32" />
                    <asp:Parameter Name="original_dang" Type="Boolean" />
                </UpdateParameters>
            </asp:SqlDataSource>

<script type="text/javascript">
    var lifetime = 3600;
    var expireAt = Mage.Cookies.expires;
    if (lifetime > 0) {
        expireAt = new Date();
        expireAt.setTime(expireAt.getTime() + lifetime * 1000);
    }
    Mage.Cookies.set('external_no_cache', 1, expireAt);
</script>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
            </div>
        </div>
        </div>