﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="dongho.ascx.cs" Inherits="UserControl_dongho" %>
<div style="text-align: center">
<embed src="http://nackvision.com/goodies/clocks/nackvision_timer03.swf" quality="high" width="120" height="120" name="calendar" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /><br>
</div>
