﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Footter.ascx.cs" Inherits="UserControl_Footter" %>
<p style="text-align: left">
    <asp:HyperLink ID="HyperLink1" runat="server" ForeColor="#FF3300">Trang chủ | </asp:HyperLink>
    <asp:HyperLink ID="HyperLink2" runat="server" ForeColor="#FF3300"> Sản phẩm mới | </asp:HyperLink>
    <asp:HyperLink ID="HyperLink3" runat="server" ForeColor="#FF3300"> Liên hệ | </asp:HyperLink>
    <asp:HyperLink ID="HyperLink4" runat="server" ForeColor="#FF3300"> Hỗ trợ  </asp:HyperLink>
    <hr />
<p style="font-weight: 700; color: #0000FF">
    Copyright © E-Groups.</p>


