﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="hotrotructuyen.ascx.cs" Inherits="UserControl_hotrotructuyen" %>

<table style="width:180px; height: 180px;">
    <tr>
        <td>
            <strong style="color: #FF0000; font-family: 'Times New Roman', Times, serif; font-weight: bold; font-style: inherit;">HỖ TRỢ TRỰC TUYẾN</strong></td>
    </tr>
    <tr>
        <td>
            <asp:Image ID="Image4" runat="server" ImageUrl="~/images/icon_list.jpg" />
            &nbsp;Tư vấn về sản phẩm</td>
    </tr>
    <tr>
        <td>
             <a href="ymsgr:sendIM?hotro2"><img alt="Hỗ trợ trực tuyến" src="http://opi.yahoo.com/online?u=hotro2&amp;t=2" border="0" 
                 style="float: left; width: 84px"/><img 
                 src="http://opi.yahoo.com/online?u=hotro2&amp;t=2" border="0" 
                 style="float: right; width: 84px"/></a></td>
    </tr>
    <tr>
        <td>
            <asp:Image ID="Image1" runat="server" ImageUrl="~/images/icon_list.jpg" />
            &nbsp;Tư vấn đặt hàng online</td>
    </tr>
    <tr>
        <td>
             <a href="ymsgr:sendIM?hotro2"><img alt="Hỗ trợ trực tuyến" src="http://opi.yahoo.com/online?u=hotro2&amp;t=2" border="0" 
                 style="float: left; width: 84px"/><img alt="Hỗ trợ trực tuyến" 
                 src="http://opi.yahoo.com/online?u=hotro2&amp;t=2" border="0" 
                 style="float: right; width: 84px"/></a></td>
    </tr>
</table>


