﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="menu_left.ascx.cs" Inherits="UserControl_menu_vertical" %>

    <strong style="color: #FF0000; font-family: 'Times New Roman', Times, serif; font-weight: bold; font-style: inherit;">DANH MỤC SẢN PHẨM</strong><br />

    &nbsp;<asp:DataList ID="DataList1" runat="server" CellPadding="0" 
    DataKeyField="ma_dm" DataSourceID="SqlDataSource1">
    <ItemTemplate>
        &nbsp;<asp:Image ID="Image1" runat="server" ImageUrl="~/images/vertical.png" />
        &nbsp;
        <asp:HyperLink ID="HyperLink2" runat="server" 
            NavigateUrl='<%# Eval("ma_dm", "~/danhmucsp.aspx?ma_dm={0}") %>' 
            Text='<%# Eval("ten_dm") %>' ForeColor="Gray"></asp:HyperLink>
        <br />
        <br />
    </ItemTemplate>
</asp:DataList>

<asp:SqlDataSource ID="SqlDataSource1" runat="server" 
    ConnectionString="<%$ ConnectionStrings:vnaovn_shopConnectionString %>" 
    SelectCommand="SELECT * FROM [danhmucsanpham]"></asp:SqlDataSource>


