﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="quangcao_right.ascx.cs" Inherits="UserControl_quangcao_right" %>
<asp:AdRotator ID="AdRotator1" runat="server" BorderWidth="0px" 
    DataSourceID="Xmlquangcao" Height="180px" Width="180px" />
<asp:XmlDataSource ID="Xmlquangcao" runat="server" 
    DataFile="~/App_Code/Ads.xml"></asp:XmlDataSource>


