﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="QuangCao.ascx.cs" Inherits="Quangcao" %>
<style>
    .table
    {
        background-color:#e0dcfb;
    }
</style>
<table style="width:100%;">
    <tr>
        <td class="table" style="font-weight: bold; color: #3e3e3e; font-size: large">
            Quảng cáo</td>
    </tr>
    <tr>
        <td>
            <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
                ConnectionString="<%$ ConnectionStrings:Stella %>" SelectCommand="select HinhMinhHoa
from QuangCao
where DAY(GETDATE())&lt;DAY(NgayHH)"></asp:SqlDataSource>
            <asp:DataList ID="DataList1" runat="server" 
                RepeatColumns="1">
                <ItemTemplate>
                    <asp:HyperLink ID="HyperLink1" runat="server" 
                        ImageUrl='<%# "~/Images/"+Eval("HinhMinhHoa") %>'>HyperLink</asp:HyperLink>
                    <br />
                    <br />
                </ItemTemplate>
            </asp:DataList>
        </td>
    </tr>
</table>

