﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="quangcao_giua.ascx.cs" Inherits="UserControl_quangcao_giua" %>
    <asp:AdRotator ID="AdRotator1" runat="server" DataSourceID="XmlDataSource1" 
                Height="150px" Width="640px" style="text-align: center" />
    <asp:XmlDataSource ID="XmlDataSource1" runat="server" 
                DataFile="~/App_Code/QCgiua.xml"></asp:XmlDataSource>



