﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="quangcao_left.ascx.cs" Inherits="UserControl_quangcao_left" %>
<asp:Image ID="Image1" runat="server" 
    ImageUrl="~/images/quangcao/Poster-Seminar-Billy-Blue-College-Of-Design.gif" 
    Width="180px" />

