﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="quenmatkhau.ascx.cs" Inherits="UserControl_laylaimatkhau" %>
<table cellpadding="10" cellspacing="10" style="width: 640px;">
    <tr>
        <td colspan="2" style="text-align: center; font-weight: 700; color: #FF0000">
            QUÊN MẬT KHẨU</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: left; font-weight: 700">
            Bạn quên mật khẩu đăng nhập? Hãy nhập email đăng ký thành viên của bạn ở 
            đây.Chúng tôi sẽ gửi mật khẩu mới cho bạn qua Email! 
        </td>
    </tr>
    <tr>
        <td style="font-weight: 700; color: #FF6600">
            Địa chỉ email :</td>
        <td>
            <asp:TextBox ID="txtEmail" runat="server" Height="30px" Width="250px"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td style="font-weight: 700; color: #FF6600">
           &nbsp;</td>
        <td>
            <asp:Button ID="btnGuiYeuCau" runat="server" Height="30px" 
                Text="Gửi yêu cầu" Width="150px" />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-weight: 700; color: #333333">
            Nhấn&nbsp; 
            <asp:HyperLink ID="hpldangnhap" runat="server" ForeColor="#FF3300" 
                NavigateUrl="~/Dangnhap.aspx">vào đây</asp:HyperLink>
&nbsp;để trở lại màn hình đăng nhập</td>
    </tr>
</table>

