﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="sanphammoi.ascx.cs" Inherits="UserControl_sanphammoi" %>
       <div class="left-col">
			<div class="fixed-left-menu">
                <h2>DANH MỤC SẢN PHẨM</h2>
				<ul class="cate-menu"><asp:DataList ID="DataList2" runat="server" 
    DataKeyField="ma_dm" DataSourceID="SqlDataSource2" BackColor="White" Font-Bold="True" 
                        Font-Italic="False" Font-Names="Times New Roman" Font-Overline="False" 
                        Font-Size="Medium" Font-Strikeout="False" Font-Underline="False" 
                        ForeColor="White" HorizontalAlign="Left">
    <ItemTemplate> 
                                                               &nbsp;<asp:Image ID="Image1" runat="server" ImageUrl="~/images/vertical.png" />
        &nbsp;
        <asp:HyperLink ID="HyperLink2" runat="server" 
            NavigateUrl='<%# Eval("ma_dm", "~/danhmucsp.aspx?ma_dm={0}") %>' 
            Text='<%# Eval("ten_dm") %>' ForeColor="Gray"></asp:HyperLink>
       
        <br /> </ItemTemplate></asp:DataList>
                                       				</ul>
			</div>     
		</div>

    <asp:DataList ID="DataList1" runat="server"
        DataSourceID="sqlsanphammoi" RepeatColumns="3" 
        RepeatDirection="Horizontal" style="text-align: right" Width="640px" 
    ShowFooter="False" ShowHeader="False">
        <ItemTemplate>
  




		
		
        	<div id="the_data_3">
			                                <div class="one-product">
                	<div class="product-img">
                    <a title="<%# Eval("ten_sp") %>" href="<%# "Chitietsanpham.aspx?masp="+Eval("ma_sp") %>">
                        <img alt="<%# Eval("ten_sp") %>" src="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" width="208"/>
                                             </a>
                    </div>
                    <p class="title"><a href="<%# "Chitietsanpham.aspx?masp="+Eval("ma_sp") %>"><%# Eval("ten_sp") %></a></p>
                    <div class="price">
                        <span><%# Eval("dongia", "{0:0,00#}") %></span>
                        <a class="cart-button" href="<%# "Chitietsanpham.aspx?masp="+Eval("ma_sp") %>" title="<%# Eval("ten_sp") %>"></a>
						<a class="like-button" href="javascript:void(0);" rel="6408" title="<%# Eval("ten_sp") %>"></a>
                    </div>
                </div>
                              
                             
                              
                               
                                
                                            </div>
			
			
			
		
		
        <div class="cboth"></div>
        <div class="cboth"></div>


        </ItemTemplate>
    </asp:DataList>
    
<asp:SqlDataSource ID="sqlsanphammoi" runat="server" 
    ConnectionString="<%$ ConnectionStrings:vnaovn_shopConnectionString %>" 
    
    
    
    SelectCommand="sanphammoi" SelectCommandType="StoredProcedure">
</asp:SqlDataSource>


<asp:SqlDataSource ID="SqlDataSource2" runat="server" 
    ConnectionString="<%$ ConnectionStrings:vnaovn_shopConnectionString %>" 
    SelectCommand="SELECT * FROM [danhmucsanpham]"></asp:SqlDataSource>

