﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="show_giohang.ascx.cs" Inherits="UserControl_giohang" %>
<link rel="Stylesheet" href="../css/style.css" type="text/css" />
<table style="width:180px; height: 87px; font-weight: bold;">
    <tr>
        <td>
            <asp:Image ID="Image1" runat="server" ImageUrl="~/images/cart_icon.png" 
                Height="25px" Width="41px" />
        </td>
        <td>
            <asp:HyperLink ID="hlgiohang" runat="server" 
                NavigateUrl="~/Giohang.aspx" Font-Bold="True" ForeColor="Blue">Giỏ hàng của bạn</asp:HyperLink>
        </td>
    </tr>
    <tr>
        <td>
            <asp:Image ID="Image2" runat="server" ImageUrl="~/images/thanhtoan.png" 
                Height="32px" Width="50px" />
        </td>
        <td>
            Số tiền :<asp:Label ID="lbsotien" runat="server" Text="0" 
                ForeColor="Red"></asp:Label>
&nbsp;&nbsp;VNĐ</td>
    </tr>
</table>

