﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="spmoi.ascx.cs" Inherits="UserControl_spmoi" %>
  
  <!-- San pham moi -->
  
  
 <div class="ma-newproductslider-container">
					<div class="ma-featured-product-title"><h2>Sản phẩm mới</h2></div>


                   

                  <div class="flexslider carousel">
			
 <ul class="slides">


      <asp:DataList ID="DataList2" runat="server"
        DataSourceID="sqlsanphammoi" 
       
    ShowFooter="False" ShowHeader="False" RepeatColumns="5" >
      <ItemTemplate>	


			        			        				            	<li class="newproductslider-item">
							<div class="item-inner">
                                    <a href="<%# "Chitietsanpham.aspx?masp="+Eval("ma_sp") %>" title="<%# Eval("ten_sp") %>" class="product-image"><img src="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" alt="<%# Eval("ten_sp") %>" /></a>
                                
                                    <h2 class="product-name"><a href="<%# "Chitietsanpham.aspx?masp="+Eval("ma_sp") %>" title="<%# Eval("ten_sp") %>"><%# Eval("ten_sp") %></a></h2>
                                                                                                                

                
    <div class="price-box">
                                                            <span class="regular-price" id="product-price-12">
                                            <span class="price"><%# Eval("dongia", "{0:0,00#}") %></span>                                    </span>
                        
        </div>

                                                                        <div class="actions">
                                                                                                                                    <a href="<%# "Giohang.aspx?Masp="+Eval("ma_sp") %>"><button type="button" title="Thêm vào giỏ" class="button btn-cart"><span><span>Mua</span></span></button></a>
                                                                                                                                                                        <ul class="add-to-links">
                                                                                                                                                            <li><a href="<%# "Chitietyeuthich.aspx?masp="+Eval("ma_sp") %>" class="link-wishlist" title="Yêu thích" rel="tooltip">Yêu thích</a></li>
                                                                                                                                                                                                                                                                <li><span class="separator">|</span> <a href="<%# "Sosanh.aspx?Masp="+Eval("ma_sp") %>" class="link-compare" title="So sánh" rel="tooltip">So sánh</a></li>
                                                                                                                                                </ul>
                                                                            </div>
																<!--	Label	-->
																
								 
							</div>
						</li>                    
											
											 
										
										    
								
                              
                          
                      
             </ItemTemplate>
    </asp:DataList>
			        			        </ul>
		         <script type="text/javascript">
		             decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])
                                </script>	
		        		        				
			</div>
           



                    </div>

                    <asp:SqlDataSource ID="sqlsanphammoi" runat="server" 
    ConnectionString="<%$ ConnectionStrings:vnaovn_shopConnectionString %>" 
    
    
    
    SelectCommand="sanphammoi" SelectCommandType="StoredProcedure">
</asp:SqlDataSource>