﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="spnoibat.ascx.cs" Inherits="UserControl_spnoibat" %>
<!-- San pham noi bat -->
    <div class="ma-newproductslider-container">
							<div class="ma-newproductslider-title"><h2>Sản phẩm nổi bật</h2></div>


                            <div class="flexslider carousel">
			
 <ul class="slides">
                 <asp:DataList ID="DataList1" runat="server"
        DataSourceID="sqlsanphamnoibat" 
       
    ShowFooter="False" ShowHeader="False" RepeatColumns="20" >
      <ItemTemplate>	 
																<li class="newproductslider-item">
							<div class="item-inner">
                                    <a href="<%# "Chitietsanpham.aspx?masp="+Eval("ma_sp") %>" title="<%# Eval("ten_sp") %>" class="product-image"><img src="<%# Eval("hinhminhhoa", "images/sanpham/{0}") %>" alt="<%# Eval("ten_sp") %>" /></a>
                                
                                    <h2 class="product-name"><a href="<%# "Chitietsanpham.aspx?masp="+Eval("ma_sp") %>" title="<%# Eval("ten_sp") %>"><%# Eval("ten_sp") %></a></h2>
                                                                                                                

                
    <div class="price-box">
                                                            <span class="regular-price" id="product-price-12">
                                            <span class="price"><%# Eval("dongia", "{0:0,00#}") %></span>                                    </span>
                        
        </div>

                                                                        <div class="actions">
                                                                                                                                   <a href="<%# "Giohang.aspx?Masp="+Eval("ma_sp") %>"><button type="button" title="Thêm vào giỏ" class="button btn-cart"><span><span>Thêm vào giỏ</span></span></button></a>
                                                                                                                                                                        <ul class="add-to-links">
                                                                                                                                                            <li><a href="<%# "Chitietyeuthich.aspx?masp="+Eval("ma_sp") %>" class="link-wishlist" title="Yêu thích" rel="tooltip">Yêu thích</a></li>
                                                                                                                                                                                                                                                                <li><span class="separator">|</span> <a href="<%# "Sosanh.aspx?Masp="+Eval("ma_sp") %>" class="link-compare" title="So sánh" rel="tooltip">So sánh</a></li>
                                                                                                                                                </ul>
                                                                            </div>
																<!--	Label	-->
																
								 
							</div>
						</li>                    
											
											 
										
										    
								
                              
                          
                                
                     </ItemTemplate>
    </asp:DataList>
     </ul> 
<asp:SqlDataSource ID="sqlsanphamnoibat" runat="server" 
    ConnectionString="<%$ ConnectionStrings:vnaovn_shopConnectionString %>" 
    
    
    
    SelectCommand="sanphamnoibat" SelectCommandType="StoredProcedure">
</asp:SqlDataSource>
            
                                
                                
                                
                                
                                	

                <script type="text/javascript">
                    $jq('.ma-newproductslider-container .flexslider').flexslider({
//                        slideshow: false,
//                        itemWidth: 220,
//                        itemMargin: 5,
//                        minItems: 1,
//                        maxItems: 7,
//                        slideshowSpeed: 30000,
//                        animationSpeed: 6000,
//                        controlNav: true,
//                        animation: "slide"
                    });
                </script>
			</div>	





                            </div>


                             <div class="content-sample-block">
<div class="row-fluid">
<div class="block1 span6"><img src="media/wysiwyg/static-sample.png" alt="" /></div>
<div class="block2 span6"><img src="media/wysiwyg/static-sample.png" alt="" /></div>
</div>
</div>