﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="thongke.ascx.cs" Inherits="UserControl_thongke" %>


<table style="width: 180px;" align="center">
            <tr>
                <td colspan="2" 
                    style="color: #FF0000; font-family: 'Times New Roman', Times, serif; font-weight: bold; font-style: inherit; text-align: center;" >Thống Kê Truy Cập</td>
            </tr>
            <tr>
                <td>
                    <strong>Online:</strong></td>
                <td>
                    &nbsp;
                    <asp:Label ID="lbonline" runat="server" ForeColor="#996600" 
                        style="color: #006600; font-weight: 700">0</asp:Label>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Tổng số truy cập:</strong></td>
                <td>
                    &nbsp;
                    <asp:Label ID="lbtongtruycap" runat="server" ForeColor="#996600" 
                        style="font-weight: 700; color: #003300">0</asp:Label>
                </td>
            </tr>
        </table>