﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Thongketruycap.ascx.cs" Inherits="UserControl_Thongketruycap" %>
    <table cellpadding="0" cellspacing="0" Width="190px" >
        
        <tr>
            <td style="width:80%; padding-left:10px">
               <img src="Common/Images/Import.png" /> Đang online:</td>
            <td style="width:50%">
                <% =Application["visitors_online"].ToString()%></td>
        </tr>
        <tr>
            <td style="width:50%; padding-left:10px">
                <img src="Common/Images/25.png" />Hôm nay:</td>
            <td style="width:50%">
                 <% =Application["HomNay"].ToString()  %></td>
        </tr>
        <tr>
            <td style="width:50%; padding-left:10px">
                <img src="Common/Images/25.png" /> Hôm qua:</td>
            <td style="width:50%">
                 <% =Application["HomQua"].ToString()  %></td>
        </tr>
        
         
        <tr>
            <td style="width:50%; padding-left:10px">
                <img src="Common/Images/AddUser.jpg" /> Tuần này:</td>
            <td style="width:50%">
                 <% =Application["TuanNay"].ToString()  %></td>
        </tr>
        <tr>
            <td style="width:50%; padding-left:10px">
                <img src="Common/Images/AddUser.jpg" /> Tuần trước:</td>
            <td style="width:50%">
                 <% =Application["TuanTruoc"].ToString()  %></td>
        </tr>
        <tr>
            <td style="width:50%; padding-left:10px">
                <img src="Common/Images/User.png" /> Tháng này:</td>
            <td style="width:50%">
                 <% =Application["ThangNay"].ToString()  %></td>
        </tr>
        <tr>
            <td style="width:50%; padding-left:10px">
                <img src="Common/Images/User.png" /> Tháng trước:</td>
            <td style="width:50%">
                 <% =Application["ThangTruoc"].ToString()  %></td>
        </tr>
        <tr>
            <td style="width:50%; padding-left:10px">
                <img src="Common/Images/02.jpg" />Tất cả:</td>
            <td style="width:50%">
                 <% =Application["TatCa"].ToString()%></td>
        </tr>
    </table>
