﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="xacnhandonhang.ascx.cs" Inherits="UserControl_xacnhandonhang" %>

<div class="page-title">
   <center><h1>THÀNH CÔNG !</h1></center> 
</div>

<center>
 
       

    <div class="fieldset">
        <h2 class="legend">Thông báo</h2>
        <ul class="form-list">

    <tr>
        <td style="text-align: center; font-weight: 700; color: #FF3300; font-size: large">
            Kính chào quý khách ! </td>
    </tr>
    <tr>
        <td style="font-weight: 700">
            Chúng tôi sẽ liên hệ và giao hàng cho quý khách trong vòng 24 giờ!</td>
    </tr>
    <tr>
        <td style="font-weight: 700">
            Công ty chúng tôi rất hân hạnh được phục vụ quý khách.Khi cần quý khách có thể 
            liên lạc<br />
            <br />
&nbsp;trực tiếp qua đường dây nóng : 0932397747 (Mr. Kiệt)</td>
    </tr><br />
    


</ul></div>
<tr>
        <td style="font-weight: 700; text-align: center">
            <asp:Button ID="btnketthuc" runat="server" BorderStyle="None" Height="30px" 
                onclick="btnketthuc_Click" style="text-align: center" Text="Kết thúc" 
                Width="120px" />
        </td>

    </tr>
    </center>